@page "/about"

<h1>About Water Polo</h1>
<p>
    Water polo in the United Kingdom has a rich history that spans over a century, marked by its evolution from a casual recreational
    activity to a competitive sport with a dedicated following.
</p>

<h2>
    The history of water polo in the UK
</h2>
<br />
<h4>
    Late 19th Century:
</h4>

<p>
    Water polo began to gain popularity in the UK during the late 19th century. It was initially introduced as a
    form of aquatic exercise and recreation in swimming pools and open-water venues.
</p>

<h4>
    Early 20th Century:
</h4>
<p>
    The early 20th century saw water polo's gradual transformation into a more organized and competitive sport.
    Various swimming and aquatic clubs across the UK started forming water polo teams and engaging in local matches.
</p>

<h4>
    Olympics:
</h4>
<p>
    Water polo made its Olympic debut at the 1900 Summer Olympics in Paris but didn't gain much traction until the 1912
    Summer Olympics in Stockholm. The British water polo team participated in these Olympics, making it their first appearance on
    the Olympic stage. The sport's inclusion in the Olympics further boosted its recognition and popularity in the UK.
</p>

<h4>
    Post-War Era:
</h4>
<p>
    After World War II, water polo in the UK experienced a resurgence. The establishment of more aquatic centers and
    swimming pools provided better facilities for water polo training and competitions. The sport began to see greater participation
    at various levels, from school teams to club leagues.
</p>

<h4>
    Modern Era:
</h4>
<p>
    Water polo in the UK has continued to evolve into a highly competitive and organized sport. The British Water Polo League,
    has played a crucial role in promoting competitive water polo and fostering talent development. The UK has also produced notable water
    polo players who have represented the country in international competitions.
</p>

<p>
    Today, water polo remains a popular sport in the UK, with a strong presence in universities, schools, and local clubs. It serves as
    both a recreational activity and a competitive endeavor, providing individuals of all ages the opportunity to engage in a physically
    demanding and exhilarating aquatic sport.
</p>

<p>
    Overall, the history of water polo in the UK reflects the sport's journey from its humble beginnings as a casual activity to becoming
    a recognized and respected part of the country's sporting landscape.
</p>




@code {

}
