@page "/about"

<h1>About Waterpolo</h1>
<br />
<h2>History of Waterpolo</h2>

<p>
    Water polo originated in the 19th century in Great Britain. The game stressed swimming, passing, and scoring by shooting into a netted goal;
    players could only be tackled when holding the ball and could not be taken under water.
</p>

<p>
    The game spread throughout the World and was introduced as an Olympic sport in the Paris 1900 games.
</p>

<p>
    The game is still popular throughout the world with particular interest in Eastern European countries, Spain, the USA and Australia.
</p>

<p>
    Currently there are circa 15 000 registered players in the UK competing for a number of clubs located throughout the country. Competition 
    is organised at all levels including local county leagues, inter county and inter regional competitions for junior age groups and a 
    competitive water polo league for adults.
</p>




@code {

}
