@page "/coaches"

<h1>About the Coaches</h1>

<h3>Head Coach - Harrison Clayton</h3>
<div style=" float:left;">
    <img src="images/Harrison_Coach_Photo.png" alt="Harrison Clayton" class="img-fluid .max-width" />
    <span style="margin-left: 10px;"></span>
</div>
<p>
    I'm Harrison, I've been part of the water polo world since before I was born. I have been involved in various roles with many clubs all across 
    the country, as well as international links across the world. A few of my proudest achievements involve coaching the North East Girls to a gold 
    medal in the 2013 Inter Regionals and the Exeter U17 Boys to 4th place in the country at the National Age Group Championships. My philosophy is 
    to use my knowledge and experience to make you the best possible player you can be regardless of how long you have played or what your 
    background is.
</p>
<h3></h3>
<h3>Coach - Guy Connor</h3>
<p>
    I was introduced to Water Polo in 2012 and soon realised what an amazing sport it was! Since 2012 I have played for the Royal Marines and 
    Royal Navy and became a coach in 2014. I now coach and am the head of Water Polo for the Royal Marines, and have coached at Tiverton for 
    over 10 years. I have represented the Royal Navy in many tournaments over the last decade and have also competed in a water polo tours in 
    Croatia and the USA. In the last two years I have supported Taunton Water Polo Club and coached in several Devon League U13 tournaments, 
    as well as U15 matches.  
</p>
<h3>Coach - Kyle Gollop</h3>
<div style=" float:left;">
    <img src="images/Kyle_Coach_Photo.png" alt="Kyle Gollop" class="img-fluid .max-width" />
    <span style="margin-left: 10px;"></span>
</div>
<p>
    Hi, I’m Kyle I’m the under 11’s coach at Tiverton Water Polo club I’ve had multiple years of experience within the sport having started out 
    as a player at the age of 14. At the age of 16 I took my coaching qualifications and at one point was the youngest qualified coach in the 
    country. I have successfully coached various teams from Tiverton and other clubs within the Devon area since that age. I successfully led a 
    team of new starters to hold their own in the Waller tournament in Exeter and also had a single season in the Devon league as a player/coach. 
    My playing experiences include playing for both Exeter and Tiverton. With Exeter I played in the Devon league and Devon knockouts cup. I have 
    also played internationally and represented the country having toured Hungary with a team of some of the best Water Polo players in the area. 
    I currently have six international appearances to my name and one international goal. My aim is to use my experiences to help promote the young 
    players at our club to become even greater players. I was involved in the initial setup of the club when we first began many many years ago 
    and ran the club each and every weekend with my mum Jeanne. We started out with mini polo goals and only used half the pool. A large number of 
    players that I coached went on to have very successful times in their Uni teams and some even progressed to County and National level.
    It’s been an absolute pleasure to watch the club develop into what it is today. I can’t wait to watch our current players develop and help 
    the club become a regular competitor in the county.
</p>

<h5>Assistant Coach - Harry Snow</h5>
<h5>Assistant Coach - Alexander Fewtrell</h5>

<h5>Poolside Helper - Eve Rimmer</h5>
<h5>Poolside Helper - Tula Rimmer</h5>
<h5>Poolside Helper - Willow Davis</h5>

@code {

}