@page "/contact"

<h1>Contact Tiverton Waterpolo Club</h1>
<br />
<h2>Email</h2>
<p>You can contact Tiverton Waterpolo club by emailing <a href="mailto:tivertonwaterpoloclub@gmail.com">tivertonwaterpoloclub@gmail.com</a>.</p>
<h2>Committee</h2>
<p>The committee for the 2022 to 2023 period are:</p>
<table class="table table-striped">
    <tr>
        <td>Chairman:</td>
        <td>Guy Connor</td>
    </tr>
    <tr>
        <td>Vice Chairman:</td>
        <td>Martyn Fewtrell</td>
    </tr>
    <tr>
        <td>Treasurer:</td>
        <td>Heather Snell</td>
    </tr>
    <tr>
        <td>Club Secretary:</td>
        <td>Helen Rimmer</td>
    </tr>
    <tr>
        <td>Head Coach:</td>
        <td>Harrison Clayton</td>
    </tr>
    <tr>
        <td>Welfare Officer:</td>
        <td>Nicci Morgan</td>
    </tr>
    <tr>
        <td>Community Outreach:</td>
        <td>Samantha Perkins</td>
    </tr>
    <tr>
        <td>Club President:</td>
        <td>Chris Payne</td>
    </tr>
</table>
 
@code {

}
