@page "/contact"

<h1>Contact Tiverton Waterpolo Club</h1>
<br />
<h2>Email</h2>
<p>You can contact Tiverton Waterpolo club by emailing <a href="mailto:tivertonwaterpoloclub@gmail.com">tivertonwaterpoloclub@gmail.com</a>.</p>
<h2>Committee</h2>
<p>The committee for the 2022 to 2023 period are:</p>
<table class="table table-striped">
    <tr>
        <td>Chairman:</td>
        <td>Guy Connor</td>
        <td>tivertonwaterpoloclub@gmail.com</td>
        <td><a href="mailto:tivertonwaterpoloclub@gmail.com">tivertonwaterpoloclub@gmail.com</a></td>
    </tr>
    <tr>
        <td>Vice Chairman:</td>
        <td>Martyn Fewtrell</td>
        <td></td>
    </tr>
    <tr>
        <td>Treasurer:</td>
        <td>Heather Snell</td>
        <td><a href="mailto:tivertonwaterpoloclub@gmail.com">tivertonwaterpoloclub@gmail.com</a></td>
    </tr>
    <tr>
        <td>Club Secretary:</td>
        <td>Helen Rimmer</td>
        <td></td>
    </tr>
    <tr>
        <td>Head Coach:</td>
        <td>Harrison Clayton</td>
        <td></td>
    </tr>
    <tr>
        <td>Welfare Officer:</td>
        <td>Joanne Littlechild</td>
        <td><a href="mailto:twpcwelfare@gmail.com">twpcwelfare@gmail.com</a></td>
    </tr>
    <tr>
        <td>Fixtures Secretary:</td>
        <td>Kyle Gollop</td>
        <td><a href="mailto:tivertonwaterpolofixtures@gmail.com">tivertonwaterpolofixtures@gmail.com</a></td>
    </tr>
</table>
<h2>Facebook Group</h2>
<p>Join the facebook group with this link: <a href="https://www.facebook.com/groups/3753113328277449?locale=en_GB">Click Here</a> </p>
 
@code {

}
