@page "/documents"

<h1>Documents</h1>

<p>Here you will find all the documents related to Tiverton Water Polo Club. You can click on any of them to download and read.</p>

<a href="https://github.com/tivertonwaterpolo/ClubWebsite/blob/main/TWPC.ClubWebsite.UI/Documents/2024_AGM_Minutes.pdf?raw=true">2024 AGM Minutes</a>
<br />
<a href="">2024 AGM Minutes</a>
<br />
<a href="https://github.com/tivertonwaterpolo/ClubWebsite/blob/main/TWPC.ClubWebsite.UI/Documents/TYPC_Payment_Information.pdf?raw=true">Payment Information</a>
<br />
<a href="https://github.com/tivertonwaterpolo/ClubWebsite/blob/main/TWPC.ClubWebsite.UI/Documents/TWPC_Water_Polo_Parents_Guide'.pdf?raw=true">Water Polo Parents Guide</a>
<br />
<a href="">Club Constitution</a>
@code {

}
