@page "/downloads"

<h1>Club Downloads</h1>

<p>Click on any of the links below to download club documents.</p>
<p><a href="https://github.com/tivertonwaterpolo/ClubWebsite/blob/main/TWPC.ClubWebsite.UI/Documents/2024_AGM_Minutes.pdf?raw=true">AGM Minutes 2024</a></p>

@code {

}
