@page "/"

<PageTitle>Index</PageTitle>

<h1>Tiverton Water Polo Club</h1>

<p>Welcome to the Tiverton Water Polo Club website.</p>

<p>Tiverton Waterpolo club train at Tiverton Liesure Centre on Saturday afternoons between 2pm and 4pm.</p>
