@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to Tiverton Water Polo Club</h1>
<br />
<h2>Introduction</h2>
<p>
    Although Waterpolo has been played at <a href="https://middevonleisure.com/exe-valley-leisure-centre/" target="_blank">Exe Valley Leisure centre</a> 
    for over 10 years the Tiverton Waterpolo club was established as a Swim England registered club at the end of the Covid 19 pandemic 
    in 2022. Its aim is to promote the sport of Waterpolo in Tiverton and the surrounding area.
</p>

<p>
    The club provides training for all levels of competitor from beginners through to experience players of all age groups (6 to 60+).
</p>

<p>
    The club is inclusive, encourages improved fitness, strong water confidence and a great team spirit.
</p>

<h2>Location</h2>
<p>
    Tiverton Waterpolo club train at the Exe Valley leisure centre between 2pm and 4pm every Saturday.
</p>

<p>
    Exe Valley Leisure Centre<br />
    Bolham Road<br />
    Tiverton<br />
    Devon<br />
    EX16 6SG
</p>

<h2>Sessions</h2>
<p>
    Sessions are based upon both age and individual ability but include:
</p>

<table class="table table-striped">
    <tr>
        <td>Mini polo - Session 1</td>
        <td>6yrs to 9yrs</td>
        <td>2:00pm untill 2:30pm</td>
        <td>Junior pool</td>
    </tr>
    <tr>
        <td>Mini polo - Session 2</td>
        <td>6yrs to 9yrs</td>
        <td>2:30pm untill 3:00pm</td>
        <td>Junior pool</td>
    </tr>
    <tr>
        <td>Juniors</td>
        <td>9yrs to 16yrs</td>
        <td>2:00pm untill 3:00pm</td>
        <td>Main pool</td>
    </tr>
    <tr>
        <td>Seniors</td>
        <td>16yrs to 60yrs plus</td>
        <td>3:00pm untill 4:00pm</td>
        <td>Main pool</td>
    </tr>
</table>


