@page "/join"

<h1>Join Tiverton Waterpolo Club</h1>
<br />
<h2>Prerequisites for Waterpolo</h2>
<p>
    Tiverton waterpolo club welcomes players of all levels of experience. 
</p>

<p>
    If you are interested in learning to play waterpolo we would encourage you to come down to Exe Valley Leisure centre and watch one of the sessions.
</p>

<p>
    Younger children attending Mini polo do not need to be able to swim as they will be participating in the junior pool and will be able to 
    stand up at all times. However they will need to learn to swim to progress in waterpolo and while we help build water confidence we are 
    not swimming teachers. Waterpolo is an excellent sport to compliment swimming lessons or for children who attend a swimming club!
</p>
<p>
    Children entering the Juniors (9 to 16 years) will need a basic level of swimming ability, ideally they will be able to swim a length of the 
    pool (50m) and tread water.
</p>
<p>
    Seniors (16 plus) would normally be able to swim and tread water for several minutes.
</p>
<h2>Joining Fees</h2>
<p>
    Tiverton Waterpolo club has an annual joining fee and an ongoing monthly fee. The annual joining fee covers your Swim England membership and
    provides you with insurance for all club activities. This may be reduced if you are already a Swim England member The ongoing monthly fees 
    cover the cost of hiring the pool and other ancillary club expenses.
</p>
<table class="table table-striped">
    <tr>
        <td>Membership</td>
        <td>Annual fee</td>
        <td>Monthly fee</td>
    </tr>
    <tr>
        <td>Mini</td>
        <td>£17.50</td>
        <td>£12</td>
    </tr>
    <tr>
        <td>Junior</td>
        <td>£23</td>
        <td>£18</td>
    </tr>
    <tr>
        <td>Adult</td>
        <td>£23</td>
        <td>£25</td>
    </tr>
</table>
<br />
<p>
    Please contact us about other membership options if you are a University student or have other circumstances which would prevent you from attending on 
    a regular basis.
</p>
<p>
    Initial membership fee is £23 for members who do not hold a SE membership with another club. If you are registered with SE through another club the 
    membership fee is reduced to £11.50; proof of SE membership is required. Membership fees will then be payable annually on 1st Jan each year.
</p>
<p>
    Individuals wishing to compete at regional level (representing the South West Region) will need to hold a ‘Club Compete’ membership. The fee for 
    this is £45 per year.
</p>
<p>
    Due to insurance purposes, initial Membership fees are to be paid prior to the 3rd session. Failure to do so will result in the members not being 
    able to participate until membership is paid.
</p>
<p>
    Payment infomation can be found in the documents tab.
</p>
<h3>Family Session Concession</h3>
<p>
    This applies to Junior and Senior sessions only and for cohabiting families. The first family member pays £25 per month and any other family member 
    pays £20 per month. This must be in one payment from a single account.
</p>
@code {

}
