@page "/join"

<h1>Join Tiverton Waterpolo Club</h1>
<br />
<h2>Prerequisites for Waterpolo</h2>
<p>
    Tiverton waterpolo club welcomes players of all levels of experience. 
</p>

<p>
    If you are interested in learning to play waterpolo we would encourage you to come down to Exe Valley Leisure centre and watch one of the sessions.
</p>

<p>
    Children entering the Juniors (8 to 16 years) will need a basic level of swimming 
    ability. Ideally, they will be able to swim two lengths of the pool (50m) front Crawl 
    and tread water; however, this in not essential for the Under 11 age group. Water polo 
    is an excellent sport to compliment swimming lessons or for children who attend a 
    swimming club!
</p>
<p>
    Seniors (16 plus) would normally be able to swim and tread water for several minutes.
</p>
<h2>Joining Fees</h2>
<p>
    Tiverton Waterpolo club has an annual joining fee and an ongoing monthly fee. The annual joining fee covers your Swim England membership and
    provides you with insurance for all club activities. This may be reduced if you are already a Swim England member The ongoing monthly fees 
    cover the cost of hiring the pool and other ancillary club expenses.
</p>
<table class="table table-striped">
    <tr>
        <td>Membership</td>
        <td>Annual fee to train</td>
        <td>Annual fee to train and compete</td>
        <td>Monthly fee</td>
    </tr>
    <tr>
        <td>Under 11</td>
        <td>£27</td>
        <td>£52</td>
        <td>£20</td>
    </tr>
    <tr>
        <td>Junior</td>
        <td>£27</td>
        <td>£52</td>
        <td>£27</td>
    </tr>
    <tr>
        <td>Senior</td>
        <td>£27</td>
        <td>£52</td>
        <td>£27</td>
    </tr>
</table>
<br />
<p>
    Please contact us about other membership options if you are a University student or have other circumstances which would prevent you from attending on 
    a regular basis.
</p>
<p>
    Initial membership fee is £27 for members who do not hold a Swim England membership 
    with another club. If you are registered with Swim England through another club the 
    membership fee is reduced to £13.50; proof of Swim England membership is required. 
    Membership fees will then be payable annually on 1st Jan each year.
</p>
<p>
    Due to insurance purposes, initial Membership fees are to be paid prior to the 3rd session. Failure to do so will result in the members not being 
    able to participate until membership is paid.
</p>
<p>
    Payment information can be found in the documents tab.
</p>
<h3>Family Session Concession</h3>
<p>
    This applies to Junior and Senior sessions only and for cohabiting families. The first family member pays £27 per month and any other family member 
    pays £21 per month. This must be in one payment from a single account.
</p>
@code {

}
