@page "/kit"

<h1>Tiverton Waterpolo Club Kit</h1>
<br />
<h2>Standard kit</h2>
<p>
    Waterpolo is played wearing standard swimming attire. Most male players wear trunks or jammers while women wear a full costume.
    It is not unusual for players to wear two layers to protect against rips and tears which may otherwise proove embarrissing!
</p>
<p>
    Additionally each player wears a waterpolo hat which offers ear protection for the player, is coloured to identify which team they are 
    playing for (white for the home team and dark for the away team) and are numbered so that officials can identify the player during a match.
</p>
<p>
    Although you will be required to supply your own swimming costume Tiverton Waterpolo club will supply you with a hat for training and/or matches.
</p>
<h2>Club Kit</h2>
<p>
    Tiverton Waterpolo club has its own team kit and you are welcome to purchase your own team kit from our supplier.
</p>
<p>
    Please visit <a href="https://wyvernswimwear.co.uk/product-category/team-kits/club/tiverton-water-polo-club/" target="_blank">Wyvern swimwear</a> for further details.
</p>
    <span class="border border-2">
        <img src="images/costume.png" alt="Tiverton waterpolo club costume" />
    </span>
    <span class="border border-2">
        <img src="images/trunks.png" alt="Tiverton waterpolo club trunks" />
    </span>


@code {

}
