@page "/timetable"

<h1>Club Timetable</h1>
<br />
<h2>Training</h2>
<p>
    Tiverton Waterpolo club train at the Exe Valley Leisure centre on Saturday afternoons between 2pm and 4pm.
</p>
<p>Detailed session times are as follows:</p>
<table class="table table-striped">
    <tr>
        <td>Mini polo - Session 1</td>
        <td>5yrs to 9yrs</td>
        <td>2:00pm untill 2:25pm</td>
        <td>Learner pool</td>
    </tr>
    <tr>
        <td>Mini polo - Session 2</td>
        <td>5yrs to 9yrs</td>
        <td>2:30pm untill 2:55pm</td>
        <td>Learner pool</td>
    </tr>
    <tr>
        <td>Juniors</td>
        <td>9yrs to 16yrs</td>
        <td>2:00pm untill 3:00pm</td>
        <td>Main pool</td>
    </tr>
    <tr>
        <td>Seniors</td>
        <td>16yrs to 60yrs plus</td>
        <td>3:00pm untill 4:00pm</td>
        <td>Main pool</td>
    </tr>
</table>
<h2>Fixtures</h2>
<p>
    Currently there are no planned fixtures.
</p>

@code {

}
