@page "/training"

<h1>Training at Tiverton Waterpolo Club</h1>
<br />
<p>
    Tiverton Waterpolo Club follows the same outline development pathway as the other aquatic disciplines:
</p>
<p>
    As the club was formed less than 2yrs ago, we focus on Fundamentals stage for our Minis; 
    transitioning to Learn To Play for our younger Juniors and Train to Train and Train to 
    Compete for our more able Juniors and Seniors." to read: "We focus on Fundamentals and 
    transitioning to Learn To Play for our younger Juniors and Train to Train and Train to 
    Compete for our more able Juniors and Seniors. We also offer an inclusive grassroots 
    senior session aimed at physical wellbeing and enjoying the fundamentals of the game.
</p>
<p>
    The underpinning principle is to have fun!
</p>
<table class="table table-striped">
    <tr>
        <th>Stage</th>
        <th>Outline of the Stage</th>
    </tr>
    <tr>
        <td rowspan="3">Fundamentals</td>
        <td>1) Teaching the basic WP strokes.</td>
    </tr>
    <tr>
        <td>2) Learning the basics of the game.</td>
    </tr>
    <tr>
        <td>3) Focused on having fun and playing games.</td>
    </tr>
    <tr>
        <td rowspan="3">Learning to Play</td>
        <td>1) Developing basic WP skills.</td>
    </tr>
    <tr>
        <td>2) Introducing more complex terms.</td>
    </tr>
    <tr>
        <td>3) Begin to introduce aspects of dry training.</td>
    </tr>
    <tr>
        <td rowspan="3">Training to Train</td>
        <td>1) Increase the training times.</td>
    </tr>
    <tr>
        <td>2) Start to introduce strength training.</td>
    </tr>
    <tr>
        <td>3) Develop individual skills.</td>
    </tr>
    <tr>
        <td rowspan="3">Training to Compete</td>
        <td>1) Developing individual and team tactics.</td>
    </tr>
    <tr>
        <td>2) Develop individuals to become match fit.</td>
    </tr>
    <tr>
        <td>3) Experience and exposure to more competitive competitions.</td>
    </tr>
    <tr>
        <td rowspan="3">Training to Win</td>
        <td>1) Individualised training components.</td>
    </tr>
    <tr>
        <td>2) Increased all round fitness.</td>
    </tr>
    <tr>
        <td>3) Focus on specific roles within the team and optimising performance.</td>
    </tr>
</table>


@code {

}
