@page "/welfare"

<h1>Welfare</h1>
<br />
<h2>Club Welfare Officer</h2>
<p>
    Tiverton Waterpolo club takes the welfare of its members very seriously.
</p>
<p>
    To discuss any concerns that you may have with the welfare officer please contact them by email outlining your concerns.
</p>
<table>
    <tr>
        <td>Welfare Officer:</td>
        <td>Nicci Morgan</td>
    </tr>
</table>
@code {

}
