<style>
    .custom-scrollbar {
        overflow-y: auto;
        height: calc(100vh - 56px);
    }

    .custom-scrollbar::-webkit-scrollbar {
        width: 8px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 4px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: #555;
    }
</style>

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            Tiverton Waterpolo Club
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass navbar-collapse custom-scrollbar" @onclick="ToggleNavMenu">
    <nav class="navbar-nav">
        <div class="nav-item px-3">
            <img src="images/club_logo.png" class="img-fluid .max-width" alt="Tiverton Waterpolo Club logo"/>
        </div>
    </nav>

    <nav class="navbar-nav">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
    </nav>

    <nav class="navbar-nav">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="training" Match="NavLinkMatch.All">
                <span class="oi oi-text" aria-hidden="true"></span> Training
            </NavLink>
        </div>
    </nav>

    <nav class="navbar-nav">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="timetable" Match="NavLinkMatch.All">
                <span class="oi oi-calendar" aria-hidden="true"></span> Timetable
            </NavLink>
        </div>
    </nav>  

    <nav class="navbar-nav">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="join" Match="NavLinkMatch.All">
                <span class="oi oi-signpost" aria-hidden="true"></span> Join
            </NavLink>
        </div>
    </nav>

    <nav class="navbar-nav">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="coaches" Match="NavLinkMatch.All">
                <span class="oi oi-people" aria-hidden="true"></span> Coaches
            </NavLink>
        </div>
    </nav>

    <nav class="navbar-nav">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="kit" Match="NavLinkMatch.All">
                <span class="oi oi-person" aria-hidden="true"></span> Club Kit
            </NavLink>
        </div>
    </nav>

    <nav class="navbar-nav">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="welfare" Match="NavLinkMatch.All">
                <span class="oi oi-eye" aria-hidden="true"></span> Welfare
            </NavLink>
        </div>
    </nav>

    <nav class="navbar-nav">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="about" Match="NavLinkMatch.All">
                <span class="oi oi-info" aria-hidden="true"></span> About
            </NavLink>
        </div>
    </nav>

    <nav class="navbar-nav">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="contact" Match="NavLinkMatch.All">
                <span class="oi oi-envelope-closed" aria-hidden="true"></span> Contact
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
